*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin-top: 100px;
}

     /* header */

.container-color{
    margin: 0 auto;
    color: white;
}

.space-left{
    margin-left: 10px;
}

.space-right{
    margin-right: 5px;
}

.container-header {
    display: flex;
    position: fixed;
    top: 2em;
    right: 3em;
}

.color-grey{
    background-color: grey;
    padding: .5em;
    border-radius: .5em;
}

    /* main */

.main-container-flex{
    flex-wrap: wrap;
    display: flex;
    padding-left: 2em;
    gap: 2em; 
    
}

.flex-img{
    flex-basis: calc(100% / 8 - 82em);
}

    /* footer */

.footer-color{
    background-color: grey;
    position: fixed;
    bottom: 0;
    padding: 1.5em;
    width: 100%;
}

.footer-container-flex{
    color: white;
    display: flex;
    justify-content: space-between;
}

.space-left-footer{
    margin-left: 25px;
}

.icons{
    font-size: 25px;
}

.green{
    color: green;
}

.a-red{
    color: red;
    text-decoration: none;
    padding: 1em ;
    border: none;
}

.a-red:hover{
    cursor: pointer;
    background-color: lightgray;
}